<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apna Clinic | Contact us</title>
    <link rel="stylesheet" href="\static\css\contact us.css">
</head>
<body>
    <div class="logo">
        <img class="symbol" src="\static\image\symbol.png" alt="" >
        <img class="name" src="\static\image\logo_dark.png" alt="">
    </div>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">FAQs</a></li>
            <li><a href="contact us.html">Contact us</a></li>
            <li class="profile"><a href=""><img src="\static\image\profile.jpg" alt=""></a></li>
        </ul>
    </nav>
    <h1>We would love to hear from you!!!</h1>
    <p>Please email your queries at our official E-mail ID <br>
       <a href="mail.google.com">clinic.apnaofficial@gmail.com</a> </p>
    <div class="creaters">
        <h2>Co-Owners:</h2>
        <div class="souradeep">
            <img src="\static\image\souradeep.jpeg" alt="">
            <h2>Souradeep Paul</h2>
             <p>Student of Institute of Engineering and Management (IEM), Kolkata</p>
             <p>Email id: <a href="">suradippaul123@gmail.com</a><br>
                Also follow us on:</p>
            <button><img src="\static\image\linkedin.jpg" alt=""></button>
            <button><img src="\static\image\github.png" alt=""></button>
        </div>
        <div class="souradeep">
            <img src="\static\image\swagata.jpeg" alt="">
            <h2>Swagata Pal</h2>
            <p>Student of Institute of Engineering and Management (IEM), Kolkata</p>
             <p>Email id: <a href="">swagatapal1980@gmail.com</a><br>
            Also follow us on:</p>
            <button><img src="\static\image\linkedin.jpg" alt=""></button>
            <button><img src="\static\image\github.png" alt=""></button>
        </div>
    </div>
</body>
</html>