<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apna Clinic | Covid-19</title>
    <link rel="stylesheet" href="multidis.css">
</head>
<style>
#img-preview {
    width: 155px;  
    margin-bottom: 20px;
}
#img-preview img {  
    width: 400px;
    height: auto; 
    display: block;  
    border-radius: 15px; 
    padding: 1px;
    border: 1px solid rgb(42, 42, 42);
}
</style>
<body>
    <div class="logo">
        <img class="symbol" src="D:/HTML projects/Apna Clinic/symbol.png" alt="" >
        <img class="name" src="D:/HTML%20projects/Apna%20Clinic/logo_dark.png" alt="">
    </div>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">FAQs</a></li>
            <li><a href="contact us.html">Contact us</a></li>
            <li class="profile"><a href=""><img src="D:/HTML%20projects/Apna Clinic/profile.jpg" alt=""></a></li>
        </ul>
    </nav>
    <div class="image">
        <img src="D:/HTML%20projects/Apna%20Clinic/nurse_note.webp" alt="">
    </div>
    <div class="main">
        <h1>Covid-19</h1>
        <p>Please provide an X-ray image of your lungs. <br>
        Note: Uploaded file must be an image only. It can be of any format(png, jpg, jpeg etc.), of any size and resolution.
        </p>
        <form action="backend2.php">
            <div id="img-preview"></div>
            <label for="choose-file">Upload Image:</label><br>
            <input type="file" accept="image/*" id="choose-file" name="choose-file" /> <br>
            <button type="submit">Check</button>
        </form>
</body>
<script src="pneumonia2.js"></script>
</html>