<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apna Clinic | Covid-19</title>
    <link rel="stylesheet" href="multidis.css">
</head>
<body>
    <div class="logo">
        <img class="symbol" src="D:/HTML projects/Apna Clinic/symbol.png" alt="" >
        <img class="name" src="D:/HTML%20projects/Apna%20Clinic/logo_dark.png" alt="">
    </div>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">FAQs</a></li>
            <li><a href="contact us.html">Contact us</a></li>
            <li class="profile"><a href=""><img src="D:/HTML%20projects/Apna Clinic/profile.jpg" alt=""></a></li>
        </ul>
    </nav>
    <div class="image">
        <img src="D:/HTML%20projects/Apna%20Clinic/nurse_note.webp" alt="">
    </div>
    <div class="main">
        <h1>Covid-19</h1>
        <p><img src="caution.png" alt="" height="12px"> &nbsp;No info currently available under this. Check back again soon!</p>
        <p>However, we can surely predict your heart condition now...</p>
        <button onclick="ccheck()"> Check your status now</button>
    </div>
</body>
<script>
    function ccheck(){
        window.location.href="covid2.html";
    }
</script>
</html>