<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apna Clinic | Kidney Diseases</title>
    <link rel="stylesheet" href="multidis.css">
</head>
<body>
    <div class="logo">
        <img class="symbol" src="D:/HTML projects/Apna Clinic/symbol.png" alt="" >
        <img class="name" src="D:/HTML%20projects/Apna%20Clinic/logo_dark.png" alt="">
    </div>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">FAQs</a></li>
            <li><a href="contact us.html">Contact us</a></li>
            <li class="profile"><a href=""><img src="D:/HTML%20projects/Apna Clinic/profile.jpg" alt=""></a></li>
        </ul>
    </nav>
    <div class="image">
        <img src="D:/HTML%20projects/Apna%20Clinic/nurse_note.webp" alt="">
    </div>
    <div class="main">
        <h1>Chronic Kidney Disease</h1>
        <p>Do not worry! we are processing your data. <br>Meanwhile, please provide us a few details of your current health condition. This will help us predict your kidney condition more accurately. These conditions are related to the general symptoms of having a chronic kidney disease. <br><br> Please be patient. It will take just a few more seconds.</p>
        <form action="backend2.php">
            <p>Hypertension: <input type="radio" name="htn"><label for="yes">Yes</label> &nbsp;
                <input type="radio" name="htn"><label for="no">No</label></p>
            <p>Diabetes: <input type="radio" name="dm"><label for="yes">Yes</label> &nbsp;
                <input type="radio" name="dm"><label for="no">No</label></p>
            <p>Coronary Artery Disease: <input type="radio" name="cad"><label for="yes">Yes</label> &nbsp;
                <input type="radio" name="cad"><label for="no">No</label></p>
            <p>Appetite: <input type="radio" name="appet"><label for="good">Good</label> &nbsp;
                <input type="radio" name="appet"><label for="poor">Poor</label></p>
            <p>Swollen feet: <input type="radio" name="pe"><label for="yes">Yes</label> &nbsp;
                <input type="radio" name="pe"><label for="no">No</label> </p>
            <p>Anaemia: <input type="radio" name="ane"><label for="yes">Yes</label> &nbsp;
                <input type="radio" name="ane"><label for="no">No</label></p>
            <button type="submit">Check</button>
        </form>
</body>
</html>