<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apna Clinic | Kidney Diseases</title>
    <link rel="stylesheet" href="\static\css\multidis.css">
</head>
<body>
    <div class="logo">
        <img class="symbol" src="\static\image\symbol.png" alt="" >
        <img class="name" src="\static\image\logo_dark.png" alt="">
    </div>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">FAQs</a></li>
            <li><a href="contact us.html">Contact us</a></li>
            <li class="profile"><a href=""><img src="\static\image\profile.jpg" alt=""></a></li>
        </ul>
    </nav>
    <div class="image">
        <img src="\static\image\nurse_note.webp" alt="">
    </div>
    <div class="main">
        <h1>Chronic Kidney Disease</h1>
        <p>Chronic Kidney Disease, also called chronic kidney failure, desribes the gradual loss ofkidney function. Our kidneys filter wastes and excess fluids from our blood, which are then excreted in our urine. When chronic kidney disease reaches an advance stage, dangerous levels of fluid, electrolytes and wastes can build up in our body.</p> <br>
        <h3>Symptoms</h3>
        <ul>
            <li>Nausea: A sense of discomfort and a queasy sensation causing an urge to vomit</li>
            <li>Vomiting</li>
            <li>Fatigue and weakness</li>
            <li>Muscle twitches and cramps</li>
        </ul>
        <p>To know more about Kidney Diseases and their treatment, click <a href="">here</a></p> <br>
        <a class="nav-link" href="{{ url_for('kidneyDiseasePage') }}"><button>Check your status now</button></a>
        <!-- <button onclick="kcheck()"> Check your status now</button> -->
    </div>
</body>
<script>
    function kcheck(){
        window.location.href="kidney diseases2.html";
    }
</script>
</html>