<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apna Clinic</title>
    <link rel="stylesheet" href="\static\css\landing.css">
</head>
<body>   
    <div class="logo">
        <img class="symbol" src="\static\image\symbol.png" alt="" >
        <img src="\static\image\logo.png" alt="">
    </div>
    <div class="motiv">
        <p>Time and health are two precious assets that we don't recognize and appreciate until they have been depleted.</p>
        <button class="btn" onclick="log()">Join for free</button>
    </div>  
</body>
<script>
    function log(){
        window.location.href="signIn.html";
    }
</script>
</html>